.exclusive_haed_text {
  color: white;
  font-weight: bold;
}
.custom_list_item {
  color: #ffffff;
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  font-weight: 300;
  li {
    padding-bottom: 20px;
  }
}
